* body {
  font-family: "Arial", sans-serif;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
}

.ee112,
.ee114,
.ee117,
.ee118,
.ee119,
.ee120,
.ee123,
.ee125,
.ee126,
.ee127,
.ee128,
.ee130,
.ee137,
.ee147,
.ee169,
.ee170,
.ee140,
.ee141,
.ee142,
.ee100 {
  font-size: 12px;
}

.ee112,
.ee169,
.ee170 {
  border: none;
}
body {
  margin-left: 30px;
  margin-top: 30px;
}
.eetabs {
  display: block;
}
.eetabs {
  display: none;
}
.ee100 {
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee102 {
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  vertical-align: bottom;
}
*.ee106 {
  color: #969696;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: middle;
}
*.ee109 {
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: top;
}
*.ee112 {
  background: white;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee114 {
  background: #fae1de;
  border-left: 0.5pt solid windowtext;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee116 {
  background: #fae1de;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  vertical-align: bottom;
}
*.ee117 {
  background: #fae1de;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee118 {
  background: #fae1de;
  border-right: 0.5pt solid windowtext;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee119 {
  background: #fae1de;
  border-left: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee120 {
  background: #f3f3f3;
  border-bottom: 0.5pt solid windowtext;
  border-left: 0.5pt solid windowtext;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  vertical-align: middle;
}
*.ee123 {
  background: #f3f3f3;
  border-bottom: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-top: 0.5pt solid windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
  vertical-align: middle;
}
*.ee125 {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  vertical-align: middle;
}
*.ee126 {
  background: #fae1de;
  border-right: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee127 {
  background: #fae1de;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee128 {
  background: #fae1de;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 1px;
  padding-top: 0px;
  text-align: right;
  vertical-align: middle;
}
*.ee130 {
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  vertical-align: middle;
}
*.ee131 {
  background: white;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee134 {
  background: white;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: right;
  vertical-align: bottom;
}
*.ee137 {
  background: #fae1de;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 1px;
  padding-top: 0px;
  text-align: left;
  vertical-align: bottom;
}
*.ee138 {
  background: white;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee140 {
  background: #fae1de;
  border-bottom: 0.5pt solid windowtext;
  border-left: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee141 {
  background: #fae1de;
  border-bottom: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee142 {
  background: #fae1de;
  border-bottom: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee143 {
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: right;
  vertical-align: bottom;
}
*.ee145 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee147 {
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
*.ee149 {
  color: #969696;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee152 {
  background: #fae1de;
  border-left: 0.5pt solid windowtext;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee154 {
  background: #fae1de;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee155 {
  background: #fae1de;
  border-right: 0.5pt solid windowtext;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee156 {
  background: #fae1de;
  border-left: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee157 {
  background: #fae1de;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 1px;
  padding-top: 0px;
  text-align: right;
  vertical-align: bottom;
}
*.ee159 {
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  vertical-align: bottom;
}
*.ee160 {
  background: #fae1de;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee161 {
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 1px;
  padding-top: 0px;
  text-align: left;
  vertical-align: bottom;
}
*.ee162 {
  border-right: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 1px;
  padding-top: 0px;
  text-align: left;
  vertical-align: bottom;
}
*.ee163 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: center;
  vertical-align: bottom;
}
*.ee166 {
  background: #fae1de;
  border-right: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee167 {
  background: #f3f3f3;
  border-bottom: 0.5pt solid windowtext;
  border-left: 0.5pt solid windowtext;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  vertical-align: bottom;
}
*.ee169 {
  background: #f3f3f3;
  border-bottom: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-top: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  padding-left: 0px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
  vertical-align: bottom;
}
*.ee170 {
  background: #f3f3f3;
  color: windowtext;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  text-align: right;
  vertical-align: bottom;
}
*.ee171 {
  background: #fae1de;
  border-bottom: 0.5pt solid windowtext;
  border-left: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee172 {
  background: #fae1de;
  border-bottom: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}
*.ee173 {
  background: #fae1de;
  border-bottom: 0.5pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  color: windowtext;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  vertical-align: bottom;
}

textarea {
  overflow: auto;
}
