.menu{
    width: 100%;
    background-color: rgb(142, 243, 149);
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
  }.menu__icon{
    margin: 1rem auto auto 2rem;
    height: 75%;
  }.topnav {
    overflow: hidden;
    background-color: transparent;
  }.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 40px 26px;
    text-decoration: none;
    font-size: 17px;
  }.topnav a:hover {
    background-color: rgba(85, 234, 44, 0.73);
    color: black;
  }.topnav a.active {
    background-color: rgb(142, 243, 149);
    color: rgb(0, 0, 0);
  }.topnav .search-container {
    float: right;
    padding: 27px 2px;
  }.topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
  }.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }.topnav .search-container button:hover {
        background: #ccc;
}
    
@media screen and (max-width: 600px) {
        .topnav .search-container {
        float: none;
        }
        .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
        }
        .topnav input[type=text] {
        border: 1px solid #ccc;  
        }
  }
.blog-contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10%;
}.blog-contenido__list{
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
}.blog-contenido__list ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5%;
    text-align: center;
    align-items: center;

}.list {
    border: 4px solid rgb(16, 45, 19);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(23, 49, 28);
    height: 92%;
}.list .link-img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    align-self: center;
    margin-bottom: 3%;
}.list .title{
    font-size: 180%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}



.blog-contenido__Sources{
    margin: 0;
    width: 6%;
    position: fixed;
    right: -.5%;
  }.blog-contenido .link img{
    position: relative;
    width: 80%;
    right: 0%;
    background-color: rgba(2, 162, 21, 0.812);
    border: 1px solid rgb(0,0,0) ;
    border-radius: 19%;
}
.footer{
    min-height: 240px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    margin: 0 !important;
   }.footer div{
    background-color: transparent;
    width: 25% ;
    height: 100%;
    margin: auto 10px;
   }

/*Informacion de Grupo*/
.grupo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }.grupo__1Integrante, .grupo__2Integrante, .grupo__3Integrante{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
   }.grupo div img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline;
   }.grupo div i{
    margin-left: 35px;
    display: inline;
    color: rgb(255, 255, 255);
   }.grupo h3{
    color: rgb(255, 255, 255);
   }

/*Calculadoras/Simuladores*/
.Calculadoras{
    margin: auto 10px;
    display: flex;
    flex-direction: column;
   }.Calculadoras a{
    display: block;
    height: 30px;
    width: 1fr;
    margin: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
   }.Calculadoras h3{
    color: rgb(255, 255, 255);
   }

/*Capacitaciones*/
.Capacitaciones{
    margin: auto 10px;
    display: flex;
    flex-direction: column;
   }.Capacitaciones a{
    display: block;
    height: 30px;
    width: 1fr;
    margin: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
   }.Capacitaciones h3{
    color: rgb(255, 255, 255);
   }

/*REDES SOCIALES*/
.Redes_Sociales{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 1fr;
    margin: 10px;
    text-align: right   ;
    color: rgb(255, 255, 255);
    padding: 1fr;
    text-align: right;
  }.Redes-Sociales__Texto{
        text-align: left;
  }.Redes__Sociales{
    display: flex;
    flex-direction: row;
  }.Redes-Sociales_Facebook img{
      width: 70px;
      margin-right: 15px;
  }.Redes-Sociales_Twitter img{
      width: 60px;
      margin-right: 15px;
  }.Redes-Sociales_Instagram img{
        width: 60px;
        margin-right: 15px;
}